<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        <%= title %> EJS</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

</head>

<body>
     <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">

                <ul class="nav navbar-nav">
                  <li><a href="/configuration">Configuration</a></li> 
                </ul>

                <ul class="nav navbar-right navbar-nav">
                  <!--
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                        <ul class="dropdown-menu" style="padding:12px;">
                            <form class="form-inline">
                                <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button>
                                <input type="text" class="form-control pull-left" placeholder="Search">
                            </form>
                        </ul>
                    </li>
                    -->
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="page-header well">
            <h3><strong><%= title %>&nbsp;<%= cloudService %></strong></h3>
        </div>
    </div>
    <%  if(success != '') { %>
    <div class="container">
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><%= success %></strong>
        </div>
    </div>
    <%  } %>
    <%  if(error != '') { %>
      <div class="container">
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><%= error %></strong>
        </div>
    </div>
    <%  } %>
    <div class="container">
        <form class="form-horizontal well" action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="description" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="uploadFile">File to upload</label>
                <div class="col-sm-10">
                    <input class="form-control" type="file" name="uploadFile" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Upload" class="btn btn-primary" />
                </div>
            </div>

        </form>
    </div>

     <div class="container">
       <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Original</th>
                    <th>Transformed</th>
                    <th>Submitted</th>
                    <th>Function</th>
                    <th>Callback</th>
                    <th>Process</th>
                    <th>Upload</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                 <%  items.forEach(function (item) { %>
                 <tr>
                    <td><%= item.RowKey %></td>
                    <td><%= item.description %></td>
                    <td><a class="btn btn-info" href="<%= item.original_url %>" target="_blank"  data-toggle="popover" data-img="<%= item.original_url %>">Original</a></td>
                    <td><a class="btn btn-success" href="<%= item.transformed_url %>" target="_blank"  data-toggle="popover" data-img="<%= item.transformed_url %>">Transformed</a></td>
                    <td><%= item.timing.submitted.replace(/T/, ' ').replace(/\..+/, '')    %></td>
                    <td><%= Date.parse(item.timing.funcBounce) - Date.parse(item.timing.submitted)    %></td>
                    <td><%= Date.parse(item.timing.accepted) - Date.parse(item.timing.funcBounce)    %></td>
                    <td><%= Date.parse(item.timing.processed) - Date.parse(item.timing.accepted)    %></td>
                    <td><%= Date.parse(item.timing.uploaded) - Date.parse(item.timing.processed)    %></td>
                    <td><%= Date.parse(item.timing.uploaded) - Date.parse(item.timing.submitted)    %></td>
                </tr>
                <%  }) %>              
            </tbody>
        </table>
     </div>
</body>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover(); 
    });

    // Add custom JS here
    $('a[data-toggle="popover"]').popover({
        html: true,
        trigger: 'hover',
      
    content: function(){return '<img src="'+$(this).data('img') + '" width="240" />';}
    });

    $(".alert").delay(3000).slideUp(200, function() {
        $(this).alert('close');
    });

</script>
</html>
